<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Post Detail</h1>
<hr>
<strong th:text="${post.title}">제목</strong> /
<span th:text="${post.content}">내용</span> /
<span th:text="${post.writer}">작성자</span>
<!--TODO:: 작성자만 수정할 수 있음-->
<a th:href="@{/post/modify/{postId}(postId=${post.postId})}">수정</a>

<hr>
<div th:if="${#lists.isEmpty(post.comments)}">
  <p>작성된 댓글이 없습니다.</p>
</div>
<ul th:if="${!#lists.isEmpty(post.comments)}">
  <li th:each="comment : ${post.comments}">
    <strong th:text="${comment.comment}">댓글 내용</strong> -
    <span th:text="${comment.writer}">댓글 작성자</span>
    <!--TODO:: 댓글 작성자만 삭제할 수 있음-->
    <a th:href="@{/post/comment/{commentId}(commentId=${comment.commentId})}">댓글 삭제</a>
  </li>
</ul>
<form th:action="@{/post/{postId}/comment(postId=${post.postId})}" th:object="${commentForm}" method="post">
  <input th:field="*{comment}" type="text" placeholder="comment"/>
  <input type="submit" value="create"/>
</form>

</body>
</html>